MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER_URL/?retryWrites=true&w=majority
DB_NAME=furniture_store_db
JWT_SECRET=change_me
CORS_ORIGINS=http://localhost:3000,http://localhost:8081
ENVIRONMENT=development
PORT=8000
